.rps-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-container {
    width: 700px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.score {
    margin-bottom: 16px;
}

.choice-card {
    border: solid;
    width: 200px;
    height: 200px;
    margin-bottom: 16px;
}

.choice-card * {
    width: inherit;
    height: inherit;
}

.rps-message {
    font-size: 36px;
}

.choice-btn {
    width: 100px;
    height: 40px;
    margin: 0 16px;
}